<h1>What would you like to do today?<h1>

<div class="cover">
  <b href="/recordstore/stock" class="button">Check Stock</b>
  <b class="delete" href="/recordstore/new/artist" class="button">Add Artist</b>
  <b class="add-album" href="/recordstore/new/album" class="button">Add Album</b>
  <b class= "genre-look" href="/recordstore/genre" class="button">Stock By Genre</b>
</div>
