<div class="cover-sheet">
<h1 class="cover-title">What would you like to do today?<h1>

  <div class="cover">
    <a class="button-stock" href="/recordstore/stock">CHECK STOCK</a>
    <a class="button-album" href="/recordstore/new/artist">ADD ARTIST</a>
    <a class="new-album" href="/recordstore/new/album">ADD ALBUM</a>
    <a class="genre-look" href="/recordstore/genre">STOCK BY GENRE</a>
  </div>

</div>
