<h1>Are you sure?</h1>
<h4>(Note: it will delete all this artist's albums)</h4>

<form class="new" action="/recordstore/<%= @artists.id %>/artist" method="POST">

    <label for="artist-name-field"></label>
    <input class="input-box" id="artist-name-field" name="artist_name" type="text" value="<%= @artists.artist_name %>"/>

    <input class="button" type="submit" value="Delete Artist">

  </form>
