<form action="/recordstore/artist/<%= @artists.id %>" method="POST">

  <label for="artist-name-field">Artist Name:</label>
  <input id="artist-name-field" name="artist_name" type="text" value="<%= @artists.artist_name %>"/>

  <input type="submit" value="Edit Artist">

</form>
