<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/recordstore/new/artist">Add Artist</a></li>
        <li><a href="/recordstore/new/album">Add Album</a></li>
      </ul>
    </nav>

<%= yield %>


  </body>
</html>
