<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Record Store</title>
      <link rel="stylesheet" type="text/css" href="/styles.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rhodium+Libre">
      <meta name="viewport" content="width=device-width">
  </head>
  <body>

    <img class="company" src='/radioactive-records-yellow.png'/><nav>
      <h2>
        <a href="/recordstore/stock" style= "text-decoration:none">Stock</a>
        <a href="/recordstore/new/artist" style= "text-decoration:none">Add Artist</a>
        <a href="/recordstore/new/album" style= "text-decoration:none">Add Album</a>
        <a href="/recordstore/genre" style= "text-decoration:none">Genre</a>     </h2>
    </nav>

<article>


<%= yield %>

</article>
  </body>
</html>
