<h1>Add a new album</h1>

<form class="new" action="/recordstore" method="POST">


  <label>
      <label for="artist-name-field"></label>
      <select class="drop-menu" id="artist-name-field" name="artist_id"/>
      <% for artist in @artists do %>
        <option value="<%= artist.id %>"><%= artist.artist_name %></option>
      <% end %>
      </select>

      <label for="album-name-field"></label>
      <input class="input-box" id="album-name-field" name="album_name" placeholder="Album Name..." type="text"/>

      <label for="album-genre-field"></label>
      <input class="input-box" for="album-genre-field" name="genre" placeholder="Genre..." type="text"/>

      <label for="album-stock-level"></label>
      <input class="input-box" id="album-stock-level" name="stock" placeholder="Number in Stock..." type="text"/>

      <label for="album-sale-price"></label>
      <input class="input-box" id="album-sale-price" name="sale_price" placeholder="Sale Price..." type="text"/>

      <label for="album-buy-price"></label>
      <input class="input-box" id="album-buy-price" name="buy_price" placeholder="Buy Price..." type="text"/>

      <input class="button" type="submit" value="ADD">


</form>
