<!-- <h1>New item in stock?</h1>

<form action="/recordstore" method="POST">

  <label>
      <label for="artist-name-field">Artist Name:</label>
      <select id="artist-name-field" name="artist_name"/>
      <% for artist in @artists do %>
        <option value="<% artist.id %>"><%= artist.artist_name %></option>
      <% end %>
      </select>

      <label for="album-name-field">Album Name:</label>
      <input id="album-name-field" name="album_name" type="text"/>

      <label for="album-genre-field">Album Genre:</label>
      <input for="album-genre-field" name="genre" type="text"/>

      <label for="album-stock-level">Number of Albums in Stock:</label>
      <input id="album-stock-level" name="stock" type="text"/>

      <input type="submit" value="Add New Album To Stock">

</form> -->
