<h1>Add a new artist</h1>

<form class="new" action="/recordstore/new" method="POST">

  <label for "artist-name-field"></label>
  <input class="input-box" id="artist-name-field" name="artist_name" placeholder="Artist Name..." type="text"/>

  <input class="button" type="submit" value="CREATE">

</form>
