<form action="/recordstore/new" method="POST">

  <label for "artist-name-field">New Artist Name:</label>
  <input id="artist-name-field" name="artist_name" type="text"/>

  <input type="submit" value="Create Artist">

</form>
