html {
  background: #0A0B39 url('/records.png');
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  color: #8EDFD7;
  font-family: 'Rhodium Libre', sans-serif;
}

h1{
  color: #6665AA;
  text-align: center;
}


h4{
  text-align: center;
}


nav{
  display: inline;
  text-align: right;
  padding-left: 30px;
}

a{
  margin-left: 25px;
  margin-right: 20px;
  color: white;
}

article{
  width: 100%;
}

a:hover{
  color: #EC5890;
}

p{
  margin: 5px;
}

table {
  font-size: 30px;
  float: right;
  margin-right: 50px;
  margin-bottom: 30px;
  color: #6665AA;
  font-family: 'Rhodium Libre', sans-serif;
}

td {
  color: #EC5890;
  font-family: arial;
}

.company{
  position: absolute;
  left: 340px;
}

.cover-sheet{
  padding-top: 75px;
}

.cover{
  padding-left: 366px;
}

.cover-title{
  padding-right: 133px;
}

.table-title{
  padding-left: 370px;
}

.list{
  padding-left: 300px;
}

.add-album{
  padding-left: 19px;
}

.edit-label{
  margin-right: 135px;
}

.edit-stock{
  margin-right: 22px;
}

.edit-price{
  margin-right: 90px;
}

.artist, .album, .genre, .value{
  font-family: arial;
}

.artist{
  font-size: 30px;
  margin: 2px;
}

.details, .album{
  font-size: 20px;
}

.genre{
  font-size: 18px;
  color: #6665AA;
}

.value{
  color: #EC5890;
}

.table-genre{
  color: #8EDFD7;
}

.button, .delete {
  background-color: #8EDFD7;
  border: none;
  border-radius: 4px;
  font-family: Helvetica;
  font-size: 18px;
  float: left;
  display: inline-block;
  color: #0A0B39;
  text-decoration: none;
  margin: 5px;
  width: 205px;
  height: 35px;
}

.button:hover {
  background-color: #5A8B86;
}

.button-bar {
  overflow: auto;
  height: 50px;
}

.delete {
  background-color: #6665AA;
  color: white;
}

.delete:hover{
  background-color: #4E4E7E;
}

.button-stock, .button-album, .new-album, .genre-look {
  background-color: #8EDFD7;
  border: none;
  border-radius: 4px;
  font-family: Helvetica;
  font-size: 18px;
  float: left;
  display: inline-block;
  color: #0A0B39;
  text-decoration: none;
  margin: 5px;
  width: 205px;
  height: 35px;
  padding-top: 11px;
}

.button-stock {
  background-color: #8EDFD7;
  color: #0A0B39;
}

.button-stock:hover{
  background-color: #5A8B86;
  color: white;
}

.button-album {
  background-color: #6665AA;
  color: white;
}

.button-album:hover{
  background-color: #4E4E7E;
  color: #0A0B39;
}

.new-album {
  background-color: #EC5890;
  color: white;
}

.new-album:hover{
  background-color: #9D3E62;
  color: #0A0B39;
}

.genre-look {
  background-color: #F9F3A1;
  color: #0A0B39;
}

.genre-look:hover{
  background-color: #C9C488;
  color: white;
}

.products {
  float: right;
  display: inline-grid;
  border: 4px solid #6665AA;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  width: 35%;
  max-height: 30%;
  margin: 20px;
  padding: 5px 0px;
}


/*Attempt at making it responsive, ran out of time*/
/*.products{
  display: flex inline-grid;
  flex-wrap: wrap;
  float: right;
  border: 4px solid #6665AA;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  width: 450px;
  height:320px;
  max-height: 700px;
  margin: 20px;
  padding: 5px 0px;
}*/

.function{
  align-items: center;
}

.new {
  float: center;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 20%;
  height: 70%;
  margin: 0px 500px;
  padding: 5px 0px;
}

.drop-menu {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 0px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
   height:30px;
   margin-bottom: 20px;
   border-radius: 6px;
}

.input-box{
  width: 295px;
  height: 30px;
  margin: 0px 0px 20px 0px;
  border-radius: 6px;
  font-size: 13px;
}

/*@media (min-width: 500px) {

}

@media (min-width: 800px) {

}*/
